@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollable-div {
  overflow: auto; /* or scroll */
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none;  /* for IE 10+ */
}

.scrollable-div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Edge */
}

@keyframes shimmer {
  0% { transform: translate(-100%, -100%); }
  100% { transform: translate(100%, 100%); }
}
.animate-shimmer {
  animation: shimmer 1.5s infinite;
  background-size: 200% 200%;
}